<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ingridients</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm-10">
      <h2>Ingredients</h2>
      <div class="results">{{ selected_products.length }} results found</div>
    </div>
    <div class="col-sm-2 text-right">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" [ngClass]="{ 'dropdown-toggle': cart.length > 0 }" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-shopping-cart"></i><span *ngIf="cart.length > 0"> - {{ cart.length }} Items<span class="caret"></span></span></a>
          <ul class="dropdown-menu dropdown-cart" role="menu"  *ngIf="cart.length > 0">
            <li *ngFor="let product of cart">
              <span class="item">
                <img src="{{ product.img }}" width="auto" height="50" alt="" />
                <span class="item-info">
                  <span>{{ product.name }}</span>
                  <span>{{ product.price }}$ x {{ product.count }}</span>
                  <button class="btn btn-xs btn-danger pull-right" (click)="removeFromCart(product)">x</button>
                </span>
              </span>
            </li>
            <li class="divider"></li>
            <li><span class="item"><a class="text-center" href="#">View Cart</a></span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <div class="nav flex-column">
          <h5>Filter by</h5>
          <div class="filters">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h6 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Brand
                  <i class="fas fa-angle-down float-right"></i>
                </h6>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                <div class="card-body">
                  <div class="form-check" *ngFor="let brand of brands">
                  <label class="mb-0">
                    <input (change)="$event.target.checked ? addBrandFilter(brand.id) : removeBrandFilter(brand.id)"
                           class="form-check-input"
                           type="checkbox"
                           name="brands"
                           value="{{brand.id}}"/> {{ brand.name }}
                  </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Price
                  <i class="fas fa-angle-down float-right"></i>
                </h6>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                <div class="card-body">
                  <div class="form-check">
                    <label class="mb-0">
                      <input (change)="$event.target.checked ? addPriceFilter(0, 10) : removePriceFilter(0, 10)"
                           class="form-check-input"
                           type="checkbox"
                           name="prices"/> 0 - 10
                    </label>
                    </div>
                    <div class="form-check">
                      <label class="mb-0">
                        <input (change)="$event.target.checked ? addPriceFilter(10, 20) : removePriceFilter(10, 20)"
                               class="form-check-input"
                               type="checkbox"
                               name="prices"/> 10 - 20
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="mb-0">
                        <input (change)="$event.target.checked ? addPriceFilter(20, 9999) : removePriceFilter(20, 9999)"
                               class="form-check-input"
                               type="checkbox"
                               name="prices"/> > 20
                      </label>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let product of pageOfItems ">
          <div class="card mb-4 shadow-sm text-center">
            <img class="card-img-top" data-src="{{ product.img }}" alt="Thumbnail [100%x225]" style="width:auto;max-height:155px;display: block;" src="{{ product.img }}" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">{{ product.name }}</p>
              <p class="card-price text-primary">${{ product.price }}</p>
              <button type="button" class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <jw-pagination [items]="selected_products" (changePage)="onChangePage($event)" [pageSize]="8"></jw-pagination>
      </nav>
    </main>
  </div>
</div>
<script>
</script>

